@use './variables';

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input-style {
  box-sizing: border-box;
  padding: 0.9063rem 1.125rem;
  border-radius: 6px;
  font-size: variables.$font-size;
  border: 1px solid rgba(0, 0, 0, 0.19);
  &::placeholder {
    color: variables.$text-color;
    font-size: variables.$font-size;
    opacity: 0.4;
  }
  &:focus {
    outline: none;
    border: 1px solid black;
  }
}
